#header.span-9.last
  Toast
.span-15.last
  Setup
#nav.span-9
  %blockquote These settings can be changed later by editing the file "settings.json" |
    Which is stored alongside the main Toast executable. The file uses JSON format |
    (.NET's JavaScriptSerializer variant).
#main.span-15.last
  _