!!! XML
!!!
%html
  %head
    %title NToast - Continuous Integration server
    %link{ rel="Stylesheet" href="/css/blueprint/screen.css" }
    /[if lt IE 8]
      %link{ rel="Stylesheet" href="/css/blueprint/ie.css" }
    %link{ rel="Stylesheet" href="/css/site.css" }
  %body
    %div.container
      #header.span-24.last
        %h1 NToast
      #nav.span-24.last
        %ul
          %li Nav1
          %li Nav2
      #main.span-24.last
        _
      #footer.span-24.last