!!! XML
!!!
%html
  %head
    %title NToast - Continuous Integration server
    %link{ rel="Stylesheet" href="/css/blueprint/screen.css" }
    /[if lt IE 8]
      %link{ rel="Stylesheet" href="/css/blueprint/ie.css" }
    %link{ rel="Stylesheet" href="/css/site.css" }
  %body
    %div.container
      _
      #footer.span-24.last
        Copyright (c) 2010 Chakrit Wichian. All rights reserved.
